<a href="https://colab.research.google.com/github/Makaadam11/Python/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import random as random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.DataFrame(pd.read_csv('../DataSets/V2_MASTER_PhonesmartdataAll_CCI_AdvStats.csv'))
df

,Year,Age,GenderNum,AutismQuotient,STAI,BRIEF_Total,Device,DailyAvgMins,DailyAvePickups,VS_RT_correct_Conjunction,VS_RT_correct_Single,Mean_VS_RT_correct_Single,Mean_VS_RT_correct_Conjunction
0,2022,16,2.0,4,49,70,iphone,0,32,1178.700000,1216.387500,827.116332,925.624053
1,2021,37,2.0,8,44,33,iphone,0,32,946.470000,785.597500,NaN,NaN
2,2022,16,1.0,4,20,40,iphone,0,32,1182.741667,950.900000,NaN,NaN
3,2022,16,1.0,2,21,0,iphone,0,32,1778.950000,984.333333,NaN,NaN
4,2022,16,2.0,4,21,0,iphone,0,32,521.500000,503.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,2020,38,1.0,3,56,39,iPhone,507,32,915.785917,747.883194,NaN,NaN
544,2020,27,2.0,5,64,77,iPhone,267,32,877.783333,720.729583,NaN,NaN
545,2020,36,2.0,2,46,43,iPhone,610,32,1211.483333,1049.979167,NaN,NaN
546,2020,31,2.0,4,67,69,iPhone,558,32,899.774583,845.612083,NaN,NaN
547,2020,35,2.0,1,42,24,iPhone,88,32,1048.395417,792.282500,NaN,NaN

In [ ]:
df.describe()

,Year,Age,GenderNum,AutismQuotient,STAI,BRIEF_Total,DailyAvgMins,DailyAvePickups,VS_RT_correct_Conjunction,VS_RT_correct_Single,Mean_VS_RT_correct_Single,Mean_VS_RT_correct_Conjunction
count,548.000000,548.000000,543.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,1.000000,1.000000
mean,2020.711679,29.677007,1.788214,3.237226,46.985401,50.470803,181.753650,49.394161,942.567275,841.467643,827.116332,925.624053
std,0.731187,8.828638,0.435179,1.741609,11.955576,25.344736,177.331993,36.985764,195.525323,172.026277,NaN,NaN
min,2020.000000,16.000000,1.000000,0.000000,20.000000,0.000000,0.000000,32.000000,521.500000,503.000000,827.116332,925.624053
25%,2020.000000,24.000000,2.000000,2.000000,39.000000,33.000000,0.000000,32.000000,823.408271,730.852768,827.116332,925.624053
50%,2021.000000,28.500000,2.000000,3.000000,47.000000,49.000000,169.500000,32.000000,903.227792,796.977778,827.116332,925.624053
75%,2021.000000,34.000000,2.000000,4.000000,55.000000,67.000000,297.000000,32.000000,1012.179167,886.148194,827.116332,925.624053
max,2022.000000,101.000000,3.000000,10.000000,77.000000,140.000000,1157.000000,272.000000,2125.150000,1896.975000,827.116332,925.624053

In [ ]:
frequency_table = df.groupby('GenderNum')['DailyAvePickups'].count()
print(frequency_table)

# Create a bar plot
frequency_table.plot(kind='bar', figsize=(10, 6),color=['gray','blue', 'pink', 'green'])


plt.xlabel('Gender')
plt.ylabel('Pickup Counts')
plt.title('Pickup Counts Split by Gender')
plt.show()

In [ ]:
# Frequency table
frequency_table_daily_minutes = pd.cut(df['DailyAvgMins'], bins=5).value_counts()

# Plotting 1 - Histogram
plt.hist(df['DailyAvgMins'], bins=20, color='skyblue', edgecolor='black')
plt.title('Daily Average Minutes Distribution')
plt.xlabel('Daily Average Minutes')
plt.ylabel('Frequency')
plt.show()

# Plotting 2 - Box plot
plt.boxplot(df['DailyAvgMins'], vert=False)
plt.title('Box Plot of Daily Average Minutes')
plt.xlabel('Daily Average Minutes')
plt.show()

In [ ]:
df_filtered = df[df['DailyAvgMins'] != 0]


def regression_and_SVM_time_prediction(df):
    # Select independent variables
    X = df[['DailyAvgMins']]  # Use double brackets to create a DataFrame
    y = df['VS_RT_correct_Single']

    # Split into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Standardize data
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # Create a linear regression model
    model = LinearRegression()

    # Fit the model to the training data
    model.fit(X_train_scaled, y_train)

    # Predict on the test data
    y_pred = model.predict(X_test_scaled)

    # Evaluate the results
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    print(f"Mean Squared Error: {mse}")
    print(f"Deterministic Coefficient (R-squared): {r2}")

    # Make predictions on the entire dataset for visualization
    df['Prediction'] = model.predict(scaler.transform(X))

    # Plot the results
    sns.scatterplot(x='DailyAvgMins', y='VS_RT_correct_Single', data=df, label='Actual')
    sns.lineplot(x='DailyAvgMins', y='Prediction', data=df, color='red', label='Prediction')
    plt.title('DailyAvgMins vs Response Time (Singleton Visual Search)')
    plt.xlabel('DailyAvgMins')
    plt.ylabel('Response Time')
    plt.legend()
    plt.show()

print('\n ------- regression_results -------')
regression_and_SVM_time_prediction(df_filtered)